.buttonDelete {
  background: none;
  border: none;
  color: var(--color-gray500);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: 20px;
  cursor: pointer;
  text-align: right;
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: auto;
}

.buttonDelete:hover {
  color: var(--color-gray900);
  text-decoration: underline;
}
