.buttonShoppingWrapper {
  margin: 50px 0;
}

.center {
  position: absolute;
  top: 1754px;
  right: 501px;
  margin: 68px 0;
}

.buttonShopping {
  padding: 20px 50px;
  margin: 20px auto;
  background-color: var(--color-orange);
  gap: 10px;
  border-radius: 4px;
  width: 207px;
  height: 62px;
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

.buttonShopping:hover {
  background-color: var(--color-orangeDark);
}

.buttonsCartControl {
  display: flex;
  /* align-items: flex-start; */
  width: fit-content;
}

.buttonCartIcon {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--color-orange);
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}

.buttonCartIcon:hover {
  background-color: var(--color-orangeDark);
}

.counterContainer {
  display: flex;
  align-items: center;
}

.minusButton,
.plusButton {
  width: 30px;
  height: 30px;
  background-color: var(--color-orange);
  border: none;
  color: --color-white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
}

.minusButton {
  width: 20px;
}

.itemCount {
  margin: 0 10px;
  font-size: --font-size-m;
  font-weight: bold;
}

.plusButton {
  width: 30px;
}

.buttonDelete {
  background: none;
  border: none;
  color: var(--color-gray500);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: 20px;
  cursor: pointer;
  text-align: right;
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: auto;
}

.buttonDelete:hover {
  color: var(--color-gray900);
  text-decoration: underline;
}

.removedState {
  margin-left: auto;
}
.removedState:hover {
  background-color: var(--color-orangeDark);
  /* cursor: default; */
}

@media (max-width: 768px) {
  .buttonShopping {
    padding: 12px 20px;
    width: 103px;
    height: 31px;
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .buttonShoppingWrapper {
    margin: 30px 0;
  }

  .buttonShopping {
    padding: 5px 10px;
    width: 50px;
    height: 15px;
    font-size: 5px;
  }
}
