*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-violet: #484283;
  --color-white: #ffffff;
  --color-orange: #f14f4f;
  --color-orangeDark: #8c2828;
  --color-orangeWhite: #f8afaf;
  --color-gray100: #f6f6f6;
  --color-gray200: #d5d5d5;
  --color-gray500: #b2b5bb;
  --color-gray600: #6d727b;
  --color-gray900: #444b58;

  /* --font-weight-light: 300; */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 36px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: var (--font-weight-regular);
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 320px;
}
