.input {
  width: 100%;
  border-radius: 4px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: 22px;
  background-color: var(--color-gray100);
  color: var(--color-gray500);
  border: none;
  padding: 20px;
  gap: 10px;
}

.filledOn {
  color: var(--color-gray900);
}

.filledOff {
  color: var(--color-gray500);
}

::placeholder {
  color: var(--color-gray500);
}
